/vendor/
/node_modules/
/uploads/
/Imagenes_SEC/
/Imagenes_OSM/
/Imagenes_QR/
/Imagenes_SSC/
/Imagenes_Mantenimientos/
/Imagenes_Tickets/
/plantillas_reportes/
/templates/
/*.log
.env
.DS_Store
Thumbs.db
# Docker local
.env
docker/db/init/*.sql
